name		../modelresult/ptb_word_small_sentence
log		../log/ptb_word_small_sentence.log
save_path	../modelresult
data_path	../data/testfolder
vocab_size	4100
vocab		False
layer		LSTM
num_layers	2
word_size	200
num_steps	1
init_scale	0.1
learning_rate	1	
max_grad_norm	5
batch_size	1
max_epoch	4
max_max_epoch	1
dropout		1
lr_decay	0.5
forget_bias	0
optimizer	sgd
per_sentence True

nbest   ../data/test
lm      ../modelresult/ptb_word_small_sentence.final
result  ../log/out