name		../modelresult/ptb_word_small_sentence
log		../log/ptb_word_small_sentence.log
save_path	../modelresult
data_path	../data/testfolder
vocab_size	20
vocab		False
layer		LSTM
num_layers	2
word_size	20
num_steps	4
init_scale	0.1
learning_rate	1	
max_grad_norm	5
batch_size	3
max_epoch	4
max_max_epoch	3
dropout		0.7
lr_decay	0.5
forget_bias	0
optimizer	sgd
per_sentence True
